@CHARSET "UTF-8";


/* 영화관 정보*/
.theater{
  	padding: 50px 0;
  	position: relative;
  	overflow: hidden;
}
.theater .logo{
  	text-align: center;
	font-size: 32px;
}
.theater .theater_Info {
	width: 80%;
  	padding: 30px 200px 30px 50px;
  	line-height: 20px;
  	float: left;
  	font-size: 20px;
  	color: #666;
  	border-left: 1px solid #fff;
}

.theater .theather_reg{
  	text-align: center;
	font-size: 20px;
}


/* 상영관 정보*/
.screen{
  	padding: 50px 0;
  	position: relative;
  	overflow: hidden;
}
.screen .logo{
  	text-align: center;
	font-size: 32px;
}
.screen .screen_Info {
	width: 80%;
  	padding: 30px 200px 30px 50px;
  	line-height: 20px;
  	float: left;
  	font-size: 20px;
  	color: #666;
  	border-left: 1px solid #fff;
}

.screen .screen_reg{
  	text-align: center;
	font-size: 20px;
}